@font-face {
    font-family: "SamsungOne700";
    src: url("../font/SAMSUNGONE-700.TTF") format('truetype');

    font-family: "SamsungSharpSans";
    src: url("../font/SAMSUNGSHARPSANS-BOLD.TTF");

    font-family: "SamsungOne400";
    src: url("../font/SAMSUNGONE-400.TTF");
}

#ff1 {font-family: "SamsungOne700";}
#ff2 {font-family: "SamsungOne400", sans-serif;}
#ff3 {font-family: "SamsungSharpSans";}

/* 크기 관련 스타일 지정 */
#size1 {font-size: 30px;}
#size2 {font-size: 2em;} /*부모요소 상대 크기*/
#size3 {font-size: 150%;}
#size4 {font-size: 6pt;}

/* 두꺼운 글꼴 스타일 지정 */
#fw1 {
    font-weight: bold;
}
#fw2 {
    font-weight: lighter;
}
#fw3 {
    font-weight: 500;
}

/* 작은 대문자로 변경 (잘 안씀) */
#fv {font-variant:small-caps;}

/* 기울임꼴 지정 */
#fs1 {font-style: italic;}
#fs2 {font-style: oblique;}

/* 글꼴 관련 스타일 지정 */
#f1 {font:16px "SamsungOne400"}
#f2 {font: italic bold 25px/50px "SamsungSharpSans";}

