#default-bullet{list-style-type: disc;}

#circle-bullet{list-style-type: circle;}

#square-bullet{list-style-type: square;}

#none-bullet{list-style-type: none;}

#default-number{list-style-type: decimal;}

#zero-number{list-style-type: decimal-leading-zero;}

#lower-rome-number{list-style-type: lower-roman;}

#upper-rome-number{list-style-type: upper-roman;}

#lower-alpha{list-style-type: lower-alpha;}

#upper-alpha{list-style-type: upper-alpha;}

#image-bullet{
    list-style-image: url(../images/circle.png);
}