body {
    background-color: rgb(100, 100, 100);
    background: aqua;
    
}

#div-bg { width: 50%; background: #fff;}

.div-test {
    background-color: #fff;
    padding: 20px;
    width: 20%;
    border: 5px dashed #000;
    float: left;

    
}

#div1 {
    background-clip: border-box;

}

#div2 { background-clip: padding-box;}

#div3 {background-clip: content-box;}

#bg-img {
    width: 70%; height: 1600px;
    background-image: url(../images/flower1.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-size: auto;
    background-attachment: fixed;
    background-attachment: scroll;
}
